@import "./theme";
@import "./utils";

* {
    word-wrap: break-word
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// Fix Pro-layout sider menu transition
.ant-layout-has-sider .ant-layout-sider{
    transition: all .3s;
}

// utils
.margin-xss{
    .margin(@margin-xss);
}
.margin-xs{
    .margin(@margin-xs);
}
.margin-sm{
    .margin(@margin-sm);
}
.margin-md{
    .margin(@margin-md);
}
.margin-lg{
    .margin(@margin-lg);
}
@dv: top,bottom;
.margin-xss_v {
    .margin(@margin-xss,@dv)
}
.margin-xs_v {
    .margin(@margin-xs,@dv)
}
.margin-sm_v {
    .margin(@margin-sm,@dv)
}
.margin-md_v {
    .margin(@margin-md,@dv)
}
.margin-lg_v {
    .margin(@margin-lg,@dv)
}
@dh: left,right;
.margin-xss_h {
    .margin(@margin-xss,@dh)
}
.margin-xs_h {
    .margin(@margin-xs,@dh)
}
.margin-sm_h {
    .margin(@margin-sm,@dh)
}
.margin-md_h {
    .margin(@margin-md,@dh)
}
.margin-lg_h {
    .margin(@margin-lg,@dh)
}
// text
.text-sm {
    font-size: @font-size-sm;
}
.text-base {
    font-size: @font-size-base;
}
.text-lg {
    font-size: @font-size-lg;
}
.text-left{
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-middle {
    display: inline-block;
    vertical-align: middle;
}
.text-danger {
    color: @error-color;
}
.text-primary {
    color: @primary-color !important;
}
.text-warning {
    color: @warning-color;
}
.text-success {
    color: @success-color;
}
.text-muted {
    color: @text-color-secondary;
}
