<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title> </title>
    <link rel="icon" href="<%= context.config.publicPath + 'favicon.ico' ;%>" type="image/x-icon" />
    <% if(context.config?.define?.REACT_APP_ENV==='test'){ %>
        <style type="text/css">
            body::after{
                content: "Test platform";
                color: #fff;
                text-align: center;
                display: block;
                position: fixed;
                left: 0;
                bottom: 0;
                right: 0;
                height: 23px;
                background: -webkit-gradient(linear, left 0, right 0, from(rgba(233, 35, 19, 0.6)), to(rgba(237, 101, 207, 0.6)));
                z-index: 9999999999999999;
            }
        </style>
    <% } %>
</head>
<body>
<noscript>Out-of-the-box mid-stage front/design solution!</noscript>
<div id="root">
    <div style="margin: 32px;text-align: center;">loading...</div>
</div>
</body>
</html>
