.paymentIcon {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 1;
    vertical-align: middle;
    background: url('./icons.png') no-repeat;
    background-size: cover;
    &.empty {
        background: none;
    }
    &.grey {
        opacity: 0.3;
        filter: grayscale(1);
    }
}
.text {
    margin-left: 8px;
}
